@import "settings";

/* =============================================================================
   Forms
   ========================================================================== */

input{ 
	 &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder  {
	   color: $light-gray; 
	   font: 18px $roboto-slab; 
	   font-weight: 400; 
	}
}

.short-form{ 


}