@import "settings";

/* =============================================================================
   Header
   ========================================================================== */

 .call{ 
 	color: white; 
 	font: 16px $roboto-condensed; 
 }

.first-step{ 
	color: $dark-blue; 
	font: 22px $roboto-condensed; 
}
