@import "settings";

/* =============================================================================
   Links
   ========================================================================== */

a{ 
	color: $light-blue; 
	font-family: $arial; 
	font-size: 16px; 
	&:hover{ 
		color: $dark-pink; 
	}
}

/* Footer Links */
.footer a{ 
	color: $dark-gray; 
	font-family: $arial; 
	font-size: 14px; 
}
