@import "settings";

/* =============================================================================
   Navigation 
   ========================================================================== */

.main-menu{
	ul li a{ 
		color: $dark-blue; 
		font: 20px $roboto-condensed; 
		&:hover, &:focus{ 
			color: $dark-pink; 
		}
	}
	.child-menu{ 
		ul li a{
			&:hover, &:focus{ 
				color: $dark-pink; 
			}
		}
	}
 }