/* Colors */
$dark-blue: #001a40; 
$dark-pink: #a40356;
$green: #bccd14; 
$light-blue: #0053a0; 
$rich-black: #121320; 
$light-gray: #c9c9c9; 
$dark-gray: #393635; 

/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,400,700);
$roboto-condensed: 'Roboto Condensed', Arial Narrow, Arial, sans-serif;

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300);
$roboto-slab: 'Roboto Slab', Georgia, Times New Roman, serif;

$arial: Arial, sans-serif; 

/* Images */


/* Sizes */



/* Mixins */
@mixin font-size($sizeValue: 1){
  font-size: ($sizeValue) + px;
  font-size: ($sizeValue / 10) + rem;
}
@mixin image-replace {
  display: block;
  text-indent: 200%;
  overflow: hidden;
  white-space: nowrap;
}
@mixin float-clear {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}
@mixin element-invisible {
  /* Hide an element, but still have it available for screen readers */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

@mixin margin-padding-none{ 
/*sets margin and padding equal to zero*/
	margin: 0; 
	padding: 0; 
}

@mixin visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

@mixin dynamic-width($num) {
  width: 100% - ($num); 
	margin: 0 (($num/2)+em);
}

@mixin nested-width($num) {
  width: 100% - ($num); 
  padding: 1em percentage(($num/2)/100);
}

@mixin ieFilter($image-url) {
  background-color: transparent;
  background-position: center center; 
  background-image: $image-url;
  background-repeat: no-repeat; 
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=#{$image-url}, sizingMethod='scale');
  zoom: 1;
}
