@import "settings";

/* =============================================================================
   Typography
   ========================================================================== */

h1, h2, h3, h4{ 
	font-family: $roboto-slab; 
}

h1{ 
	color: $dark-pink; 
	font-size: 36px; 
	font-weight: 400; 
}

h2{ 
	color: $light-blue; 
	font-size: 24px; 
	font-weight: 700; 
}

h3{ 
	color: $dark-pink; 
	font-size: 18px; 
	font-weight: 700; 
}

h4{ 
	color: $light-blue; 
	font-size: 16px; 
	font-weight: 400; 
}

p, p.underline, ul, ol{ 
	color: $rich-black; 
	font-family: $arial; 
	font-size: 16px; 
}

.underline{ 
	text-decoration: underline; 
}

/* Home Page */
.home{ 
	h1{ 
		color: $dark-pink; 
		font-family: $roboto-slab; 
		font-weight: 300; 
		font-size: 36px; 
	}
	p{
		color: $rich-black; 
		font: $arial; 
		font-size: 16px; 
	}

}

/* Interior H1 Photo */
.interior h1{ 
	color: white; 
	font-family: $roboto-slab; 
	font-weight: 400; 
	font-size: 48px; 
}

